<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{('ADD_PLAYER'|translate) }}</h3>
            </div>
            <div class="modal-body" ng-controller="controllerGameModalAddPlayer">
                <input class="form-control" type="text" ng-model="info.search"/>
                <ul>
                    <li ng-repeat="u in info.users">
                        {{u.username}}
                        <button class="btn btn-primary pull-right" ng-click="addPlayer(u.id)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </li>
                </ul>
                <pre>{{info.users|json}}</pre>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">{{'Roll'|translate}}</button>
            </div>
        </div>
    </div>
</div>