<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{featureModel.name}}</h3>
    </div>

    <div class="panel-body">
        <label>{{'TEMPLATE'|translate}}</label>
        <input class="form-control" type="text" ng-model="featureModel.template" jdr-updater/>
        <p class="help-block">templates/admin/feature-model/{{featureModel.template}}.html</p>
        <p class="help-block">templates/game/feature-model/{{featureModel.template}}.html</p>

        <label>{{'ROLL TEMPLATE'|translate}}</label>
        <input class="form-control" type="text" ng-model="featureModel.templateRoll" jdr-updater/>
        <p class="help-block">templates/game/roll/{{featureModel.templateRoll}}.html</p>

        <label>{{'DECORATOR_CLASS'|translate}}</label>
        <input class="form-control" type="text" ng-model="featureModel.decoratorClass" jdr-updater/>
    </div>

</div>