<div class="panel panel-default">

    <div class="panel-heading">
        <button class="btn btn-primary btn-sm pull-right" ng-click="addGroup()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        {{sheet.name}}
    </div>

    <div class="panel-body">
        <div class="col-lg-6" ng-repeat="featureGroup in sheet.groups|orderBy:'order'">
            <h3>
                {{featureGroup.name}}
                <pre>{{featureGroup.customFeatureModels|json}}</pre>
                <select
                        class="form-control"
                        multiple ng-multiple="true"
                        ng-model="featureGroup.customFeatureModels"
                        ng-options="v.id as v.name for v in featureModels"
                        jdr-updater></select>

                <button class="btn btn-danger btn-sm pull-right" ng-click="removeGroup(featureGroup)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>

                <input
                        class="form-control pull-right"
                        type="number"
                        ng-model="featureGroup.order"
                        placeholder="{{'ORDER'|translate}}"
                        jdr-updater
                        style="width:50px"/>
            </h3>
            <!--<div class="panel panel-default">-->
                <table class="table table-bordered table-condensed table-striped">
                    <colgroup>
                        <col/>
                        <col width="75"/>
                        <col width="75"/>
                        <col width="75"/>
                        <col width="125"/>
                        <col width="40"/>
                        <col width="40"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>{{'NAME'|translate}}</th>
                            <th>{{'SHORTNAME'|translate}}</th>
                            <th>{{'CODE'|translate}}</th>
                            <th>{{'ORDER'|translate}}</th>
                            <th>{{'MODEL'|translate}}</th>
                            <th>&nbsp;</th>
                            <th>
                                <button class="btn btn-primary btn-sm pull-right" ng-click="addFeature(featureGroup)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="feature in featureGroup.features|orderBy:['order', 'name']">
                        <th><input class="form-control" type="text" ng-model="feature.name" jdr-updater/></th>
                        <td><input class="form-control" type="text" ng-model="feature.nameShort" jdr-updater/></td>
                        <td><input class="form-control" type="text" ng-model="feature.code" jdr-updater/></td>
                        <td><input class="form-control" type="number" ng-model="feature.order" jdr-updater/></td>
                        <td><select class="form-control"
                                    ng-model="feature.featureModelId"
                                    ng-options="v.id as v.name for v in featureModels" jdr-updater></select>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-class="{'btn-warning': !feature.config}" ng-click="configFeature(feature)">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

                <!--<pre>{{group.features|json}}</pre>-->
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
</div>