    <div class="col-md-12 col-lg-6" ng-repeat="group in sheet.sheetModel.groups|orderBy:['order','name']">
        <h4>
            {{group.name}}

            <button
                class="btn btn-primary btn-sm pull-right"
                ng-if="group.customFeatureModels.length>0"
                ng-click="addCustomFeatureModel()">
                <span class="glyphicon glyphicon-plus"></span>
                </button>

        </h4>
        <table class="table table-hover table-condensed">
            <tbody
                    ng-repeat="feature in group.features|orderBy:['order','name']"
                    ng-include="'templates/game/feature-model/' + (feature.featureModel.template || 'default') + '.html'"></tbody>
        </table>
    </div>

    <div class="clearfix">&nbsp;</div>
