doctype html
html(lang="en", ng-app="application")
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title JDR

        link(rel="stylesheet", href="js/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="js/bower/bootstrap-additions/dist/bootstrap-additions.min.css")
        link(rel="stylesheet", href="js/bower/fontawesome/css/font-awesome.min.css")

    body

        div(ng-view)

        //Objects
        script(src="js/bower/Class.js/Class.js")
        each object in objects
            script(src="js/application/objects/" + object)

        //Include jQuery first for jqlite overriding
        script(src="js/bower/jquery/dist/jquery.min.js")

        //Angular Libs
        script(src="js/bower/angular/angular.js")
        script(src="js/bower/angular-animate/angular-animate.js")
        script(src="js/bower/angular-strap/dist/angular-strap.js")
        script(src="js/bower/angular-strap/dist/angular-strap.tpl.js")
        script(src="js/bower/angular-route/angular-route.min.js")
        script(src="js/bower/angular-resource/angular-resource.min.js")
        script(src="js/bower/angular-sanitize/angular-sanitize.min.js")
        script(src="js/bower/angular-promise-tracker-git/promise-tracker.min.js")
        script(src="js/bower/angular-translate/angular-translate.min.js")
        script(src="js/bower/angular-dialog-service/dialogs.min.js")
        script(src="js/bower/angular-socket-io/socket.min.js")
        //script(src="js/bower/angular-bootstrap/ui-bootstrap-tpls.min.js")

        //Libs
        script(src="socket.io/socket.io.js")
        script(src="js/lb-services.js")
        script(src="js/tools.js")
        script(src="js/shared.js")

        //Modules
        script(src="js/modules/jdrUpdater.js")

        //Apps
        script(src="js/application/application.js")
        script(src="js/application/services.js")

        //Controllers
        each controller in controllers
            script(src="js/application/controllers/" + controller)

        //Directives
        each directive in directives
            script(src="js/application/directives/" + directive)