<div>
    <h1>
        {{game.name}}
        <button class="btn btn-warning btn-small pull-right" ng-click="disconnect()">
            <span class="glyphicon glyphicon-off"></span>
        </button>
    </h1>

    <!-- SHEETS -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
        <ul class="nav nav-pills">
            <li class=""
                    ng-class="{active: hasRoute('sheet', s.id)}"
                    ng-repeat="s in game.sheets">
                <a ng-click="setRoute('sheet', s.id)">{{s.name}}</a>
            </li>
        </ul>

        <div class="clearfix">&nbsp;</div>

        <div ng-include="'templates/utils/progress-bar.html'" ng-show="trackerSheet.active()"></div>

        <div class="panel panel-default" ng-hide="trackerSheet.active()">
            <!--<div class="panel-heading">{{sheet.name}}</div>-->
            <div class="panel-body"
                 ng-hide="!sheet"
                 ng-include="sheet.sheetModel.templateUrl || 'templates/game/sheet/default.html'"></div>
        </div>

        <!-- SHEETS LIST -->
        <!--<h4>{{'SHEETS'|translate}}</h4>-->
        <!--<div class="col-sm-4">-->
        <!--<select class="form-control"-->
        <!--ng-model="selectedSheet"-->
        <!--ng-options="v as v.name for v in game.ruleset.sheets"></select>-->

        <!--<button class="btn btn-primary btn-block btn-sm" ng-click="newSheet(selectedSheet)">{{'NEW_SHEET'|translate}}</button>-->

        <!--<div class="clearfix">&nbsp;</div>-->

    </div>

    <!-- CLUES/MAPS -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
        <div class="panel panel-default">
            <div class="panel-heading">{{'CLUES/MAPS'|translate}}</div>
            <div class="panel-body">
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>

        <!-- BOARD -->
        <div class="panel panel-default">
            <div class="panel-heading">{{'BOARD'|translate}}</div>
            <div class="panel-body">
                <jdr-board ng-model="game"></jdr-board>
            </div>
        </div>
    </div>
</div>