<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-xs-3">&nbsp;</div>
    <div class="col-xs-6">

        <div bs-tabs="tabs"></div>
        <!--<h1>{{'LOGIN'|translate}}</h1>-->
        <!--<tabset type="'pills'">-->
            <!--<tab heading="{{'LOGIN'|translate}}" select="clearMessages()">-->
                <!--<div class="clearfix">&nbsp;</div>-->
                <!--<form>-->
                    <!--<div class="form-group input-group-lg">-->
                        <!--<input class="form-control" type="email" ng-model="login.email" placeholder="{{'EMAIL'|translate}}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group input-group-lg">-->
                        <!--<input class="form-control" type="password" ng-model="login.password" placeholder="{{'PASSWORD'|translate}}"/>-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary btn-block" ng-click="connect()">{{'LOGIN'|translate}}</button>-->
                <!--</form>-->
            <!--</tab>-->
            <!--<tab heading="{{'REGISTER'|translate}}" select="clearMessages()">-->
                <!--<div class="clearfix">&nbsp;</div>-->
                <!--<form>-->
                    <!--<div class="form-group input-group-lg">-->
                        <!--<input class="form-control" type="email" ng-model="login.email" placeholder="{{'EMAIL'|translate}}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group input-group-lg">-->
                        <!--<input class="form-control" type="password" ng-model="login.password" placeholder="{{'PASSWORD'|translate}}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group input-group-lg">-->
                        <!--<input class="form-control" type="password" ng-model="login.passwordConfirm" placeholder="{{'CONFIRM PASSWORD'|translate}}"/>-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary btn-block" ng-click="register()">{{'REGISTER'|translate}}</button>-->
                <!--</form>-->
            <!--</tab>-->
        <!--</tabset>-->

        <div class="clearfix">&nbsp;</div>

        <div ng-include="'templates/utils/progress-bar.html'" ng-show="tracker.active()"></div>

        <div class="alert alert-danger" ng-repeat="message in login.messages">
            {{message}}
        </div>
    </div>
    <div class="col-xs-3">&nbsp;</div>
</div>