<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="application">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>StrongLoop Suite Sample Application</title>

        <link rel="stylesheet" href="js/bower/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="js/bower/angular-dialog-service/dialogs.min.js">

    </head>
    <body>
        <div ng-controller="controllerGameMain">
            <h1>{{game.name}}</h1>

            <div class="col-lg-4">
                <h4>{{'BOARD'|translate}}</h4>
            </div>

            <div class="col-lg-4">
                <h4>{{'CLUES'|translate}}</h4>
            </div>

            <div class="col-lg-4">
                <h4>{{'SHEETS'|translate}}</h4>
                <div class="col-xs-4">
                    <select class="form-control"
                            ng-model="selectedSheet"
                            ng-options="v as v.name for v in game.ruleset.sheets"></select>

                    <button class="btn btn-primary btn-block btn-sm" ng-click="newSheet(selectedSheet)">{{'NEW_SHEET'|translate}}</button>

                    <div class="clearfix">&nbsp;</div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="sheet in game.sheets">
                            {{sheet.name}}
                            <div class="pull-right badge">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {{sheet.players.length}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!--Angular-->
        <script src="js/bower/angular/angular.js"></script>
        <script src="js/bower/angular-route/angular-route.min.js"></script>
        <script src="js/bower/angular-resource/angular-resource.min.js"></script>
        <script src="js/bower/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="js/bower/angular-promise-tracker-git/promise-tracker.min.js"></script>
        <script src="js/bower/angular-translate/angular-translate.min.js"></script>
        <script src="js/bower/angular-dialog-service/dialogs.min.js"></script>
        <script src="js/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <!--<script src="js/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->

        <!--Libs-->
        <script src="js/lb-services.js"></script>
        <script src="js/tools.js"></script>

        <!--App-->
        <script src="js/application/application.js"></script>

        <!--Controllers-->
        <script src="js/application/controllers/game/main.js"></script>

        <!--Directives-->
        <script src="js/application/directives/jdrUpdater.js"></script>
    </body>
</html>
