<tr>
    <th width="100%">
        <span class="pull-left visible-md">{{feature.name}}</span>
        <span class="pull-left hidden-md">{{feature.nameShort||feature.name}}</span>
    </th>
    <td>
        <input
                class="form-control input-sm"
                min="{{feature.config.valueMin}}"
                style="width: 60px"
                type="number"
                ng-model="feature.getConfig().value"
                data-title="{{'BASE_VALUE'|translate}}"
                jdr-updater="sheet.config"/>
    </td>
    <td>
        <input disabled
               class="form-control input-sm"
               style="width: 50px"
               data-title="{{'CURRENT_VALUE'|translate}}"
               bs-tooltip
               ng-value="feature.getValue()"/>
    </td>
    <td>
        <input disabled
               class="form-control input-sm"
               style="width: 50px"
               data-title="{{'D20_ABILITY_SCORE'|translate}}"
               bs-tooltip
               ng-value="feature.score()"/>
    </td>
    <td>
        <jdr-modifier ng-model="feature.getConfig().modifiers" updater="sheet.config"></jdr-modifier>
    </td>
    <td>
        <button class="btn btn-sm btn-success" ng-click="roll(feature)">
            <i class="fa fa-bolt"></i>
        </button>
    </td>
</tr>
