
<span class="pull-left visible-md">{{feature.name}}</span>
<span class="pull-left hidden-md">{{feature.nameShort||feature.name}}</span>

<input disabled
       class="form-control pull-right"
       style="width: 50px"
       ng-value="feature.score()"/>

<input
        min="{{feature.config.valueMin}}"
        class="form-control pull-right"
        style="width: 60px"
        type="number"
        ng-model="feature.getConfig().value"
        jdr-updater="sheet.config"/>

<div class="clearfix"></div>